.buttons {
  position: relative;
  display: flex;
  align-self:flex-end;
}

.connect-button {
    position: relative;
    margin-right: 10px;
    width: 180px;
    height: 32px;
    border-radius: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.connect-button.Light {
  background-color: #fff;
  color: #000
}
  
.connect-button.Dark {
  background-color: #555;
  color: #fff;
}

.connect-button button {
    width: 100%;
    height: 100%;
}

.faucet-button {
  max-width: auto;
}
.divGeral{
  display: flex;
  width: 33%;
  height: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
.saldo{
  padding: 0;
}