body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Courier New', 'Monaco', 'Fira Sans', 'Roboto', 'Source Code Pro', 'Menlo', 'Consolas',
    'Ubuntu', 'Cantarell', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
